*, *::before, *::after {
  box-sizing: border-box;
}

/* Typography and icons */

.start-title {
  font-size: 2rem;
  margin: 0;
}

.start-text {
  font-size: 1.125rem;
  text-align: center;
  margin-top: 2rem;
}

.question-text {
  font-size: 1.125rem;
  padding: 0;
  margin: 0;
}

.score-text {
  padding: 0;
  margin: 0 2rem 0 0;
}

/* Layout */

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url("./assets/star-background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  /* height: 100vh; */
  width: 100%;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  padding: 0;
}

.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 0 2.5rem 2.5rem;
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 2.5rem 2rem 7.5rem;
  overflow-y: auto; /* Enable vertical scrolling */
}

.questions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  width: 100%;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* height: 100%; */
  width: 100%;
  padding: 2.5rem 0 3.5rem;
  margin: 1rem auto 0;
  /* border-bottom: 1px solid #DBDEF0; */
  border-bottom: 0.5px solid #67595E;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin: 1rem 0 0;
}

input[type="radio"] {
  display: none;
}

.answer-label {
  padding: 0.5rem 1rem;
  margin: 1rem 1rem 0 0;
  border-radius: 0.5rem;
  cursor: pointer;
}

.answer-label:hover {
  background-color: #B4C4FC;
}

/* input.answer-option:checked + label {
  color: whitesmoke;
  background-color: cornflowerblue;
} */

.buttons-score-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 4.5rem;
}

/* Buttons */

.start-button {
  color: whitesmoke;
  background-color: #2E5CB5;
  font-family: inherit;
  font-size: 1.125rem;
  padding: 1rem 2rem;
  margin-top: 2.5rem;
  border: none;
  border-radius: 0.625rem;
  cursor: pointer;
}

.check-button {
  color: whitesmoke;
  background-color: #2E5CB5;
  font-family: inherit;
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.625rem;
  cursor: pointer;
}

.play-again-button {
  color: whitesmoke;
  background-color: #2E5CB5;
  font-family: inherit;
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.625rem;
  cursor: pointer;
}

.start-button:hover,
.check-button:hover,
.play-again-button:hover {
  background-color: #4B6BDC;
}

/* Images */


/* Links */


/* Media queries */

/* @media (width >= 600px) */
@media (min-width: 600px) {
  /* Typography and icons */

  .start-title {
    font-size: 2.5rem;
  }

  .start-text {
    font-size: 1.25rem;
  }

  .score-text {
    padding: 0;
    margin: 0 2.5rem 0 0;
  }

/* Layout */

.questions {
  padding: 2.5rem 2.5rem 7.5rem;
}

.questions-container,
.buttons-score-container {
  width: 60%;
}

/* Buttons */

.start-button {
  font-size: 1.25rem;
}

/* Images */


/* Links */
}
