*, *::before, *::after {
  box-sizing: border-box;
}

/* Typography and icons */

.question p {
  margin: 0.5rem 0;
}

.answers p {
  margin: 0.5rem;
}


/* Layout */

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  padding: 0;
}

.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 2.5rem;
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  width: 100%;
  padding: 2.5rem;
  overflow-y: auto; /* Enable vertical scrolling */
}

.questions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  width: 100%;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  width: 100%;
  margin-bottom: 1rem;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Buttons */

.check-button {
  margin-top: 2rem;
}

/* Images */


/* Links */


/* Media queries */

/* @media (width >= 600px) */
@media (min-width: 600px) {
  
}
